body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
  position: static;
}
* {
  font-family: ubuntu mono, monospace, courier new, Courier, special;
  -webkit-tap-highlight-color: transparent;
}
.emoji {
  height: 13px;
  width: 13px;
  vertical-align: bottom;
}

canvas {
  touch-action: none;
  cursor: text;
  position: absolute;
  z-index: -1;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bold {
  font-weight: 700;
}
.hidden {
  display: none !important;
}
#clipboard,
#textarea {
  width: 0;
  height: 0;
  transform: translate(-200px, -200px);
  position: absolute;
}
.connectingtext {
  display: block;
  text-align: center;
  user-select: none;
}
#nametag {
  width: 100px;
  margin-right: 5px;
}
.infotext {
  display: flex;
  justify-content: center;
  user-select: none;
}
#nearby {
  margin-right: 15px;
  cursor: pointer;
}
#connecting {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  color: #ffffff;
  transition: opacity 0.5s;
}
#info {
  background-color: rgba(30, 30, 30, 0.8);
  color: #ffffff;
  padding: 5px 0;
  font-size: 18px;
  pointer-events: auto;
  transition: all 0.5s;
  z-index: 2;
  position: absolute;
  bottom: 0;
  transition: all 0.5s;
}
#decorations {
  position: absolute;
  z-index: 4;
  display: none;
  flex-direction: row;
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 5px;
  width: 145px;
  justify-content: space-evenly;
}
.decoration {
  background-color: #b9b9b9;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  transition: all 100ms;
}
.decoration.enabled {
  background-color: #ffffff;
}
.decoration > img {
  filter: opacity(0.5);
  width: 30px;
}
.decoration.enabled > img {
  filter: opacity(1);
}
#usermenu {
  background-color: rgba(30, 30, 30, 0.8);
  color: #ffffff;
  position: absolute;
  padding: 5px;
  margin-top: 10px;
  border-radius: 0 5px 5px 0;
  transform: translateX(-105%);
  pointer-events: auto;
  transition: all 0.5s;
  display: flex;
  width: 250px;
  height: 540px;
  max-height: 70vh;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
}
#admin,
#wallsettings {
  display: none;
}
#addmembers {
  margin: 0 10px;
}
#memberlist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.member {
  padding: 5px;
  margin: 3px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
.member:hover {
  text-decoration: line-through;
  color: red;
}
#register,
#loggedin,
#accountsettings {
  display: none;
}
.buttonlink {
  text-decoration: underline;
  color: #00b7ff;
  cursor: pointer;
}
#optionsmenu {
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  overflow-wrap: break-word;
  scrollbar-width: none;
  max-height: 526px;
}
input {
  vertical-align: middle;
  margin-top: 5px;
}
.sidething {
  display: flex;
  flex-direction: column;
}
#closemenu {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  transition: all 0.1s;
}
#closemenu:active,
#closeteleport:active,
#closeshortcut:active {
  transform: scale(0.9);
}
#colourlist {
  transition: none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}
#colourlist::-webkit-scrollbar,
#optionsmenu::-webkit-scrollbar {
  display: none;
}
.colour {
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 25%;
  box-sizing: border-box;
  transition: all 50ms;
}
.colour.selected {
  border: 3px solid #ffffff;
}
#zoom {
  width: 150px;
}
th,
td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ffffff;
}
#coords {
  cursor: pointer;
}
.infobtn {
  width: 20px;
  padding: 0 10px;
  vertical-align: middle;
  transition: all 0.1s;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobtn > img,
.button {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.infobtn:active {
  transform: scale(0.9);
  background-color: rgba(30, 30, 30, 0.3);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 0;
}
#toast {
  position: absolute;
  background-color: rgba(30, 30, 30, 0.8);
  color: #ffffff;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.5s;
  padding: 5px;
  max-width: 80vw;
  overflow-wrap: break-word;
  top: -30px;
  user-select: none;
  z-index: 3;
  max-height: 0;
  overflow-y: hidden;
  white-space: pre-wrap;
}
#toast.toasting {
  top: 20px;
  max-height: 100vh;
}
#teleport, #shortcuts {
  position: absolute;
  display: block;
  z-index: 2;
  text-align: center;
  transition: all 0.5s;
  background-color: rgba(30, 30, 30, 0.8);
  color: #ffffff;
  margin: 15px;
  padding: 5px 15px 15px;
  border-radius: 5px;
  width: 330px;
  max-width: 85vw;
  top: -400px;
  user-select: none;
  max-height: 300px;
  overflow-y: hidden;
}
#teleport.open, #shortcuts.open {
  top: 40px;
  max-height: 100vh;
}
#teleport > form > input,
.coordinput > div > input {
  margin-bottom: 5px;
}
#tpx,
#tpy {
  width: 70px;
}
.coordinput {
  text-align: left;
  display: flex;
  justify-content: center;
}
.tptitle {
  font-size: 26px;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
#closeteleport, #closeshortcut {
  position: absolute;
  transition: all 0.1s;
  top: 5px;
  right: 5px;
}
#walllist {
  text-align: left;
}
#walllist > span > a {
  color: #ffffff;
}
#walllist > span {
  font-size: 20px;
  font-weight: 700;
}
.walllist {
  list-style: none;
  padding: 0;
  text-align: left;
  height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5px;
}
.walllist a {
  width: 100%;
  display: block;
  padding: 3px 0;
  overflow-wrap: break-word;
  word-break: break-all;
}
.walllist li {
  display: flex;
}
.walllist li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.walllist img {
  margin-right: 3px;
  vertical-align: middle;
}
#thememenu,
#fontmenu {
  margin-top: 10px;
  margin-right: 20px;
}
#fontmenu > input {
  vertical-align: unset;
}
#customfont {
  width: 110px;
}
#customfontsize {
  width: 40px;
}
#chat {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 350px;
  transition: all 0.5s;
  pointer-events: none;
  transform: translateX(270px);
}
#chat.open {
  transform: translateX(0px);
}
.chatcontainer {
  width: 250px;
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 0 0 0 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}
.msgcontainer {
  display: flex;
  justify-content: stretch;
}
#chatbox {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  font-size: 13px;
  word-wrap: break-word;
  overflow: auto;
}
#chatbox p {
  margin: 5px;
}
#chatmsg {
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  user-select: none;
}
#sendmsg {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 20px;
  padding: 5px;
  margin: 5px 0 0 5px;
}
#chatbutton {
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 0 0 0 5px;
  padding: 10px;
  margin-bottom: 24px;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
}
#unread {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d44b4b;
  position: absolute;
  left: -2px;
  bottom: -2px;
  display: none;
}
#unread.show {
  display: block;
}
.button {
  cursor: pointer;
  transition: all 0.1s;
  user-select: none;
}
.button:active {
  transform: scale(0.9);
}
/* ubuntu mono */
@font-face {
  font-family: ubuntu mono;
  src: url(fonts/UbuntuMono-Regular.ttf);
}
@font-face {
  font-family: ubuntu mono;
  src: url(fonts/UbuntuMono-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: ubuntu mono;
  src: url(fonts/UbuntuMono-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: ubuntu mono;
  src: url(fonts/UbuntuMono-BoldItalic.ttf);
  font-weight: 700;
  font-style: oblique;
}
/* inconsolata */
@font-face {
  font-family: inconsolata;
  src: url(fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: inconsolata;
  src: url(fonts/Inconsolata-Bold.ttf);
  font-weight: 700;
}
/* ibm plex mono */
@font-face {
  font-family: ibm plex mono;
  src: url(fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: ibm plex mono;
  src: url(fonts/IBMPlexMono-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: ibm plex mono;
  src: url(fonts/IBMPlexMono-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: ibm plex mono;
  src: url(fonts/IBMPlexMono-BoldItalic.ttf);
  font-weight: 700;
  font-style: oblique;
}
/* cyrillic-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszQMgo-8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PsxAMgo-8.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswwMgo-8.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszwMgo-8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszgMgo-8.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswAMg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszQMgo-8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PsxAMgo-8.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswwMgo-8.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszwMgo-8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszgMgo-8.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswAMg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx3cwhsk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxTcwhsk.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxPcwhsk.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx_cwhsk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx7cwhsk.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxDcwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx3cwhsk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxTcwhsk.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxPcwhsk.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx_cwhsk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx7cwhsk.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxDcwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* roboto mono */
@font-face {
  font-family: roboto mono;
  src: url(fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: roboto mono;
  src: url(fonts/RobotoMono-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: roboto mono;
  src: url(fonts/RobotoMono-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: roboto mono;
  src: url(fonts/RobotoMono-BoldItalic.ttf);
  font-weight: 700;
  font-style: oblique;
}
/* coruier prime */
@font-face {
  font-family: courier prime;
  src: url(fonts/CourierPrime-Regular.ttf);
}
@font-face {
  font-family: courier prime;
  src: url(fonts/CourierPrime-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: courier prime;
  src: url(fonts/CourierPrime-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: courier prime;
  src: url(fonts/CourierPrime-BoldItalic.ttf);
  font-weight: 700;
  font-style: oblique;
}
/* cousine */
@font-face {
  font-family: cousine;
  src: url(fonts/Cousine-Regular.ttf);
}
@font-face {
  font-family: cousine;
  src: url(fonts/Cousine-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: cousine;
  src: url(fonts/Cousine-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: cousine;
  src: url(fonts/Cousine-BoldItalic.ttf);
  font-weight: 700;
  font-style: oblique;
}
/* pointfree? */
@font-face {
  font-family: pointfree;
  src: url(fonts/pointfree.ttf);
}
@font-face {
  font-family: pointfree;
  src: url(fonts/pointfree-bold.ttf);
  font-weight: 700;
}
/* MONOFUR?????? */
@font-face {
  font-family: monofur;
  src: url(fonts/monof55.ttf);
}
@font-face {
  font-family: monofur;
  src: url(fonts/monof56.ttf);
  font-style: italic;
}
/* fantasque sans mono */
@font-face {
  font-family: fantasque sans mono;
  src: url(fonts/FantasqueSansMono-Regular.ttf);
}
@font-face {
  font-family: fantasque sans mono;
  src: url(fonts/FantasqueSansMono-Bold.ttf);
  font-weight: 700;
}
/* GYATTTTTTTTTTTTTTTTTT SKIBIDI OHIO RIZZLER IS GOING TO RIZZ ME UP AND MY RIZZLERS MY RIZZLERS ARE GETTIN RIZZED REALLLLLLLLLLLLLLLLL@U#UIQ*****&**** */
@font-face {
  font-family: fantasque sans mono;
  src: url(fonts/FantasqueSansMono-Italic.ttf);
  font-style: italic;
}
/* WELCOME TO OHIO FULLLLL OF RIZZZZZZZZZLEEEEEEEERS */
@font-face {
  font-family: fantasque sans mono;
  src: url(fonts/FantasqueSansMono-BoldItalic.ttf);
  font-weight: 700;
  font-style: oblique;
}
@font-face {
  font-family: libertinus mono;
  src: url(fonts/LibertinusMono-Regular.ttf);
}
@font-face {
  font-family: libertinus mono;
  src: url(fonts/LibertinusMono-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: fixedsys;
  src: url(fonts/fixedsys.ttf);
}
@font-face {
  font-family: special;
  src: url(fonts/special.ttf?v=10);
}
@font-face {
  font-family: cutive mono;
  src: url(fonts/CutiveMono-Regular.ttf);
}
@font-face {
  font-family: twemoji;
  src: url(https://cdn.glitch.global/2c724c57-2f3d-4ea6-b456-e15fa098a60e/twemoji.ttf);
}

.buttons {
  display: flex;
  justify-content: stretch;
  width: 100vw;
  height: 40px;
  user-select: none;
}
@media only screen and (min-width: 750px) {
  #info {
    top: 0;
    bottom: unset;
    border-radius: 0 0 5px 0;
    padding: 5px;
  }
  .infobtn > img {
    width: 20px;
  }
  .buttons {
    width: 100%;
    height: unset;
  }
  #usermenu {
    margin-top: 60px;
  }
}
ul::-webkit-scrollbar {
  width: 8px;
}
ul::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
